body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    page-size: A4 landscape;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}
.section, .fancy-section {
    border: 1px solid black;
    padding: 10px;
    margin: 5px;
    font-size: 14px;
}
.fancy-section {
    background-color: #f5f5f5;
}
h1, h2 {
    margin-top: 0;
}
.input-field, .large-input-field {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
  width: 400px;
  margin-right: 10px;
}
.large-input-field {
    grid-column: span 4;
}
.page-break {
    page-break-before: always;
}
